
@{
    ViewBag.Title = "Home";
}

<div id="mainImage" class="jumbotron">
    <h1><span class="bg-success img-rounded">&nbsp;Zalidane welcomes you!&nbsp;</span></h1>
</div>

<h2>Main</h2>

<p>This section is a work in progress.  Check back later.</p>