@{
    ViewBag.Title = "Resume";
    string email = "a.delgado1975@gmail.com";

}

<div class="container">
    <!-- Header -->
    <h2 class="text-center">Antonio Delgado &mdash; Software Developer</h2>
    <h6 class="text-center"><a href="mailto:@email">@email</a></h6>
    <hr />

    <!-- Summary -->
    <div class="row">
        <div class="col-md-2">
            <strong>Summary:</strong>
        </div>
        <div class="col-md-9">
            <p>
                A mid-level software developer with practical .NET experience.  Proficient in multiple programming and scripting languages.
                Familiar with networking concepts, image manipulation, and PDF generation.  A consistent performer – meeting deadlines and
                specifications.  Has demonstrated ability to lead small teams and mentor others.
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br />

    <!-- Strengths -->
    <div class="row">
        <div class="col-md-2">
            <strong>Strengths:</strong>
        </div>
        <div class="col-md-9">
            <ul>
                <li>Experience with HTML, CSS, JavaScript, DOM, and Bootstrap, C#, VB.NET, PHP</li>
                <li>Experience with image manipulation software (Photoshop, Gimp)</li>
                <li>Experience using content management systems (Joomla, DNN)</li>
                <li>Self-motivated – able to independently identify and implement improvements</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br />

    <!-- Work Experience -->
    <div class="row">
        <div class="col-md-2">
            <strong>Experience:</strong>
        </div>
        <div class="col-md-9">
            <b><span class="text-uppercase">Hewlett Packard</span></b> &mdash; Plano, TX
            <div class="row">
                <div class="col-md-6">
                    Service Information Developer I
                </div>
                <div class="col-md-6">
                    <span class="pull-right">July 2013 &mdash; Present</span>
                </div>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <em>
                        Responsibilities include software analysis, software development, testing, and continued training.
                        Mentored teammates on some programming techniques.
                    </em>
                </p>
            </div>
            <ul>
                <li>Using HTML, CSS, and ASP.NET C#, added features to a pre-constructed health care web application used by the State of Kansas.</li>
                <li>Designed and implemented a new feature – saving the user’s application as a PDF file using the iTextSharp library and C#.</li>
                <li>Redesigned an existing PDF letter generator application to add watermarks and barcodes using the iTextSharp library and VB.NET.</li>
            </ul>
            <p><b>Completed Project</b></p>
            <ul>
                <li>
                    <a href="https://www.kmap-state-ks.us/HCP4/Default.aspx?alias=www.kmap-state-ks.us/HCP4/Provider" target="_blank">
                        Kansas Medical Assistance Program Provider Enrollment
                    </a> &mdash; October 2014
                </li>
            </ul>

            <b><span class="text-uppercase">RadioShack</span></b> &mdash; Fort Worth, TX
            <div class="row">
                <div class="col-md-6">
                    Laptop Repair Technician
                </div>
                <div class="col-md-6">
                    <span class="pull-right">October 2005 - July 2013</span>
                </div>
            </div>
            <div class="row">
                <p class="col-md-12">
                    <em>
                        Responsibilities included diagnosing laptop hardware and software problems, ordering and replacing parts,
                        reinstalling software, installing Windows updates, and testing the finished repair for stability and accuracy.
                    </em>
                </p>
            </div>
            <ul>
                <li>Troubleshoot and diagnose customer-owned notebook computers</li>
                <li>Team lead for Toshiba laptop repair team.</li>
                <li>Repair or replace faulty notebook hardware components.</li>
                <li>Improved technician paperwork efficiency with a Windows Forms application that I designed and wrote myself.</li>
                <li>Developed a Joomla-based Web site to facilitate the repair of customer-owned notebook and tablet devices.</li>
                <li>
                    Developed a companion application to the website using Windows Forms (C#) to facilitate adding customer
                    repair orders to the internal database application.
                </li>
                <li>Created a PHP module for the Joomla website that used Regular Expressions to validate user input.</li>
            </ul>
            <p><b>Completed Project</b></p>
            <ul>
                <li>
                    <a href="http://www.nationalrepairdepot.com" target="_blank">National Repair Depot website</a> &mdash; February 2013 (shuttered)
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <br />

    <!-- Education -->
    <div class="row">
        <div class="col-md-2">
            <strong>Education:</strong>
        </div>
        <div class="col-md-9">
            University of Phoenix, B.S. Software Engineering
            <br />
            University of Phoenix, A.A. Computer Programming
        </div>
        <div class="col-md-1"></div>
    </div>

    <br />

    @*<h5 class="text-center"><i>References available upon request</i></h5>*@
</div>